<!DOCTYPE html>
<html lang="en">
<head>
  <title>Club Membership</title>

  <script src="https://unpkg.com/vue@next"></script>

  <style>
      
      .selected {
        text-decoration: line-through ;
        font-style: italic;
        color: gray;
      }

      input {
          width: 100%;
          padding: 5px;
          margin: 5px 5px 5px 0px;
          box-sizing: border-box;
      }

  </style>

</head>
<body>

<div id="app">
    <h1>Student Club Roster</h1>

    <h2>Add Students</h2>

    <label for="student-name">Student Name</label>
    <!-- Use v-model to connect this input to a ref called newStudentName DONE --> 
    <input v-model="newStudentName" id="student-name" name="student-name">

    <br>

    <label for="student-id">Student ID</label>
    <!-- Use v-model to connect this input to a ref called newStudentId DONE -->
    <input v-model="newStudentId" id="student-id" name="student-id">

    <br>

    <label for="student-gpa">Student GPA</label>
    <!-- Use v-model to connect this input to a ref called newStudentGpa DONE -->
    <input v-model="newStudentGPA" id="student-gpa" name="student-gpa" type="number">

    <br>

    <!-- Use v-on to call addNewStudent function DONE -->
    <button v-on:click="addStudent"id="add-student">Add Student</button>  
    

    <h2>Student List</h2>

    <p>There is/are 
        <span id="student-count">
        <!-- Create a computed property called studentCount and use it to display the student count here DONE -->
        {{ studentCount}} 
        <!-- created the computer property studentCount-->
        </span> 
    student(s) in the club.</p>
    

    <ul id="student-list">
        <!-- use v-for to create li elements, one for each student -->
        <!-- <li v-for="student in studentList" v-on:click="selectOrUnselectStudent(student)" v-bind:class="{ selected: student.selected }"> -->
        <li v-for="student in studentList">
            <!-- Modify this to display the student's data more neatly - display their name, ID and GPA. DONE -->
            {{ student}}
            {{ student.id }}
            {{ student.gpa }}
            <!-- this will display the student's data neatly-->
            <!-- for example "Beyonce Knowles, id: aa1234bb, GPA 3.8" -->
            <!-- Name: {{ student.name }},ID: {{ student.id}}, GPA: {{ student.gpa}} -->
        </li>
    </ul>

    <!-- Add a v-on to call removeSelectedStudents DONE-->
    <button v-on:click="removeSelectedStudents" id="remove-selected-students">Remove selected students</button>

</div>  <!-- end of div#app -->


<script>

    /* This app will store a list of student objects. Each student object should have this structure,

    {name: 'Beyonce Knowles', id: 'aa1234bb', gpa: 3.8, selected: false}
    
    Add the following functionality to this page

        * Display the number of students in the student-count span. Keep this value up to date as students are added and removed, using a computed property. 
        
    
        * When the add student button is clicked 
            - Read the value from the student-name input, save in a variable. If the name is not entered, show an alert error message and return. (1pt)
            - Read the value from the student-id input, save in a variable. If the id is not entered, show an alert error message and return. (1pt)
            - Read the value from the student-gpa input, save in a variable. If the GPA is not entered, or is not in the range 0-4, show an alert error message and return.  (1pt)
        this is done below under createAPP


        * An event handler that toggles the selected value for a student object is provided for you. 
        * Each li element will use the appropriate class based on whether a student is selected or not. 

        * When the Remove selected students is clicked, remove all selected students. 
        
    */
//    const studentCount = computed( () => {
//     return studentList.value.length // this will display the number of students 
//    })


    const { createApp, ref, computed } = Vue 

    createApp({
        setup() {

            // Create a new ref studentList. This will be an array. The array can be empty, or you can create an example student or students if you like. DONE
          //  {name: 'Beyonce Knowles', id: 'aa1234bb', gpa: 3.8, selected: false}
            const studentList = ref([])
            // Create a new ref newStudentName, initially an empty string DONE
            const newStudentName = ref('')
            // Create a new ref newStudentId, initially an empty string DONE
            const newStudentId = ref('')
            // Create a new ref newStudentGpa, initially an empty string DONE
            const newStudentGPA = ref('')

            // Use this for form validation 
            const errors = ref([])

            // Create a computed property studentCount. This will set the value to the length of the student list. DONE 
            const studentCount = computed( () => {
                return studentList.value.length
            })

            const addStudent = () => {


                // Set the errors value to an empty array DONE
                errors.value = []

                // Read the value from newStudentName. If it is empty, add an error message to the end of the errors ref. DONE
                if (newStudentName.value.length == 0) {
                    errors.value.push('Student Name must be entered') // this will show an error message that the Name must be entered if not entered
                }
                // Read the value from newStudentId. If it is empty, add an error message to the end of the errors ref. DONE
                if (newStudentId.value.length == 0) {
                    errors.value.push('Student ID must entered') // this will show an error message that the ID must be entered if not entered
                }
                // Read the value from newStudentGPA. If it is empty, add an error message to the end of the errors ref. DONE
                if (newStudentGPA.value.length == 0) {
                    errors.value.push('Student GPA must be entered') // this will show an error message that the GPA must be entered if not entered
                }
                //  And, check that newStudentGPA is between 0 and 4. If not, add an error message to the end of the errors ref.
                if (newStudentGPA >=0 && newStudentGPA <=4) {
                    alert('Please enter a number between 0 and 4')
                } // this will alert if the number is not selected between 0-4
                
                // Check the length of errors. If it is more than 0, show an alert with the error message(s)
                if (errors.value.length > 0) {
                    alert(errors.value.join('\n'))
                } else {
                    // Create a new student object with properties name, id, gpa, selected. DONE
                    // Set name to newStudentName's value
                    // Set id to newStudentId's value 
                    // Set gpa to newStudentGpa's value
                    // Set selected to false 
                    let newStudent = {
                        name: newStudentName.value, // this will change it to the current value by adding 
                        id: newStudentId.value,
                        gpa: newStudentGPA.value,
                        present: false
                    }
                    // let student = {
                    //     name: newStudentName.value, // this will change it to the current value by adding 
                    //     id: newStudentID.value,
                    //     gpa: newStudentGPA.value,
                    //     present: false
                    // }

                    // Add this new object to the end of studentList DONE
                    studentList.value.push(newStudent)

                    // Set the value of newStudentName, newStudentId, newStudentGpa to empty strings, to clear the form DONE
                    newStudentName.value = '' // this will set the value of newStudentName, ID, GPA to empty strings
                    newStudentId.value = ''
                    newStudentGPA.value = ''
                }
            }

            const removeSelectedStudents = () => {
                // Remove all students with selected = true from the studentList. You can do this with filter, DONE
                // or you can make a new empty array, loop over the studentList, and copy all selected = false students
                // to the new list, then replace the value of studentList with the new array DONE
                if (confirm(`Delete ${removeSelectedStudents.name}?`)) {
                    studentList.value = studentList.value.filter( student => student != removeSelectedStudents)
                }
                // this will remove all students that are selected true from the studentList
            }


            const selectOrUnselectStudent = (student) => {
                // This function is completed for you. If the selected property is true, it is changed to false. 
                // if the selected property is false, it is changed to true. 
                student.selected = !student.selected
            }


            return {
                // List all the refs and functions and computed properties DONE
                studentList,
                newStudentName,
                newStudentId,
                newStudentGPA,
                addStudent,
                removeSelectedStudents,
                selectOrUnselectStudent,
                studentCount
            }
        }
    }).mount('#app')


</script>

</body>
</html>